.isInvalid >  .select__control {
    border-color: #ea5455 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ea5455'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ea5455' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-size: calc(0.725em + 0.571rem) calc(0.725em + 0.571rem) !important;
    padding-right: calc(1.45em + 1.142rem) !important;
    background-position: right calc(0.3625em + 0.2855rem) center !important;
}