.flight-details-wrapper {
  width: 100%;
}

.flight-line {
  position: relative;
  height: 2px;
  background-color: #dbdbdb;
  margin: 10px 30px 10px 30px;
}

.circle {
  position: absolute;
  top: -4px;
  width: 8px;
  height: 8px;
  border-radius: 70%;
  background-color: #eceaea;
  z-index: 10;
}

.departure-circle {
  left: 0;
}

.arrival-circle {
  right: 0;
}

.airplane-icon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.details-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .details-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.arrival-info {
  text-align: right;
  margin-right: 10px;
}

.departure-info {
  text-align: left;
  margin-left: 10px;
}


.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 2px 4px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid green;
  border-radius: 4px;
}

/*witdh of stars part not stars */
.ratings-list-item {
  width: 20px; /* or set a specific width value */
  margin: 0 auto; /* center the stars horizontally */
}
.star-rating {
  width: fit-content; /* or set a specific width value */
  margin: 0 auto; /* center the stars horizontally */
}
.ratings-list-item .filled-star,
.ratings-list-item .unfilled-star {
  font-size: 16px !important; /* Adjust this value to change the star size */
}



.list-inline {
  margin-bottom: -3px;
}



.date-input-group {
  position: relative;
 
}

.date-clear-button {
  position: absolute;
  color: darkgrey;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 0.75rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
